.accordion_div{
  margin-top: 10%;
  h3{
    font-family: "Lato Light";
    font-size:40px
  }
  .accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border:none;
    border-bottom: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;  
    font-family:  "Lato Regular"!important; 
    
  }
  
  .accordion:hover {
    background-color: #eee;
    font-size: 25px;
  }
  
  .accordion:after {
    content: "\002B";
    color: black;
    // font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 30px;
  }
  
  .active:after {
    content: "\2212";
    font-size:30px;
    border: none;
  }

  button:focus{
    outline: none!important;
  }
 
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family:  "Lato Italic";
    .header_in_tarifs{
      font-size: 25px;
      font-weight: normal;
    }
    li{
      list-style: none;
      div{
        .decoration_underline{
          width: 100%;
          border-bottom: dashed black 1px;
          height: 25px;
        }
        p{
          text-align: center;
        }
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
  @media (max-width: 575.98px)  { 
    .panel, .panel ul, .container{
      padding:0!important
  }
}

}
