@import "./general.scss";

/*Header*/
header {
    position: relative;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    display: flex !important;
    justify-content: center;
    padding-bottom: 15rem;
    .background_header {
        width: 100%;
        min-width: 2000px;
        min-height: 1500px;
    }
    .logo_header {
        padding-top: 15rem;
        max-width: 45vw;
        min-width: 380px;
    }
    nav {
        z-index: 2;
        width: 100%;
        position: absolute !important;
        top: 5%;
        font-family: "Lato Italic";
        font-size: 30px;
        .navbar-nav a {
            margin: 0 50px !important;
            color: rgba(0, 0, 0, 0.8) !important;
        }
    }
    .nav-link:hover {
        color: black !important;
        border-bottom: black 1px solid;
        border-radius: 0;
        // border-width: 5px;
    }
    .nav-pills .active {
        border-bottom: 1.5px black solid;
        border-radius: 0 !important;
        background-color: transparent !important;
    }
    nav .show,
    nav .collapsing,
    nav button {
        margin-top: 10px;
        background-color: rgba(white, 0.8) !important;
    }
}

/*Div intro*/
.div_intro {
    min-height: 480px;
    .intro-content {
        padding: 0 85px !important;
    }
    .picture-intro {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    font-family: "Lato Regular";
    h3 {
        text-align: center;
        font-family: "Quicksand_Light";
        // font-size: 45px;
        padding: 1em 0 5px 0;
        margin: 0 35px;
        border-bottom: black solid 1px;
    }
    h6 {
        text-align: center;
        padding: 5px;
        font-size: 100%;
    }
    p {
        font-size: 100%;
        padding: 10px;
        .bold {
            font-weight: bold;
        }
    }
    .intro-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*Description Entreprise*/
.description_div {
    width: 100%;
    background-image: url("../image/body_background_tools.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .description_logo {
        max-width: 40vw;
        min-width: 320px;
    }
    .description_text {
        padding: 3rem 25%;
        font-size: 18px;
        @media (max-width: 720px) {
            padding: 3rem 5%;
        }
    }
    .description_header {
        text-align: center;
        font-family: "Quicksand_Light";
        font-size: 35px;
    }
}
/*Perfectionnez Vous div*/
.perfect_flag {
    // height: 300px;
    background-color: $color_3;
    color: white;
    font-family: "Lato Regular";
}

/*Tarifs*/
.accordion {
    color: black !important;
    .card-header {
        background-color: white !important;
    }
}

/*Carousel*/
.react-3d-carousel {
    margin-top: 15%;
    .slider-container .slider-right div,
    .slider-container .slider-left div {
        border: none !important;
        color: black !important;
        font-size: 30px !important;
    }
}
#realisations {
    min-height: 250px;
}

/*Footer*/
footer {
    margin-top: 13%;
    background-size: cover;
    background-attachment: fixed;
    h4 {
        font-size: 15px;
    }
    text-align: center;
    .first_div_footer {
        width: 100%;
    }

    .logo_footer {
        padding-top: 5%;
        max-width: 30vw;
        min-width: 280px;
    }
    .top_arrow {
        color: black;
        font-size: 50px;
    }
    .top_arrow:hover {
        font-size: 70px;
        color: black;
    }
}

.icon_footer_group {
    display: flex;
    justify-content: center;
    padding: 5% 0% 5% 0% !important;
    flex-wrap: wrap;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
    list-style: none;
    padding: 0;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
        and float them to left and set its border and border-radius.
       */
.wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid black;
    float: left;
    transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
      to align it properly */
.wrapper ul li .fa {
    color: black;
    margin-top: 25%;
    transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
        to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
    border: 5px solid #dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

/* media queries */

// @media screen and (max-width: 640px) {
//     .wrapper {
//         width: 350px;
//     }
//     .wrapper ul li {
//         margin-top: 10px;
//     }
//     .wrapper ul li.google {
//         margin-left: 60px;
//     }
// }

// @media screen and (max-width: 340px) {
//     .wrapper {
//         width: 150px;
//     }
//     .wrapper ul li {
//         margin: 15px;
//     }
//     .wrapper ul li.google {
//         margin-left: 15px;
//     }
// }

.link_menu_footer {
    border-bottom: solid black 2px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
        padding-bottom: 15px;
        list-style: none;
        text-align: center;
        a {
            font-family: "Lato Italic";
            font-size: 28px;
            color: black;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
        }
        a:hover {
            font-size: 33px;
        }
    }
}

#socialBar {
    margin-top: 20px;
    width: min-content;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-around;
    right: 10px;
    flex-wrap: wrap;

    :first-child {
        margin-bottom: 5px;
    }

    ul li {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    /* Style the icons by setting its color and margin-top value to 20px 
          to align it properly */
    ul li .fa {
        margin-top: 5%;
    }
}

/*Media*/
@media (min-width: 1500px) {
    .perfect_flag {
        .perfect_para {
            padding: 3rem 15% 3rem 10% !important;
        }
        .perfect_header {
            padding: 3rem 10% 3rem 15% !important;
        }
    }
}
