@import './general.scss';

/*Header*/
header {
    position: relative;
    text-align: center;
    overflow: hidden;
    // background-image: url(../image/header_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    display: flex !important;
    justify-content: center;
    padding-bottom: 15rem;
    .background_header {
        width: 100%;
        min-width: 2000px;
        min-height: 1500px;
    }
    .logo_header {
        padding-top: 15rem;
        max-width: 45vw;
        min-width: 380px;
    }
    nav {
        z-index: 2;
        width: 100%;
        position: absolute !important;
        top: 5%;
        // font-family: $header_font;
        font-family: 'Lato Italic';
        font-size: 30px;
        .navbar-nav a {
            padding: 0 50px !important;
        }
    }
    .nav-link {
        color: black !important;
    }
    .nav-link:hover {
        filter: invert(1);
    }
    .nav-pills .active {
        border-bottom: 1.5px black solid;
        border-radius: 0 !important;
        background-color: transparent !important;
    }
    nav .show,
    nav .collapsing,
    nav button {
        margin-top: 10px;
        background-color: rgba(white, 0.8) !important;
        border-radius: 5%;
    }
}

/*Div intro*/
.div_intro {
    font-family: 'Lato Regular';
    h3 {
        text-align: center;
        font-family: 'Quicksand_Light';
        font-size: 45px;
        padding: 1em 0 5px 0;
        margin: 0 35px;
        border-bottom: black solid 1px;
    }
    h6 {
        text-align: center;
        padding: 5px;
        font-size: 100%;
    }
    p {
        font-size: 100%;
        padding: 10px;
        .bold {
            font-weight: bold;
        }
    }
}

/*Description Entreprise*/
.description_div {
    width: 100%;
    background-image: url('../image/body_background_tools.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .description_logo {
        max-width: 40vw;
        min-width: 320px;
    }
    .description_text {
        padding: 3rem 25%;
        font-size: 18px;
        @media (max-width: 720px) {
            padding: 3rem 5%;
        }
    }
    .description_header {
        text-align: center;
        font-family: 'Quicksand_Light';
        font-size: 35px;
    }
}
/*Perfectionnez Vous div*/
.perfect_flag {
    // height: 300px;
    background-color: $color_3;
    color: white;
    font-family: 'Lato Regular';
}

/*Tarifs*/
.accordion {
    color: black !important;
    .card-header {
        background-color: white !important;
    }
}

/*Carousel*/
.react-3d-carousel {
    margin-top: 15%;
    .slider-container .slider-right div,
    .slider-container .slider-left div {
        border: none !important;
        color: black !important;
        font-size: 30px !important;
    }
}
#realisations {
    min-height: 250px;
}

/*Footer*/
footer {
    margin-top: 13%;

    background-size: cover;
    background-attachment: fixed;
    h4 {
        font-size: 15px;
    }
    text-align: center;
    .first_div_footer {
        width: 100%;
    }
    .icon_footer_group {
        display: flex;
        justify-content: space-around;
        padding: 5% 30% 5% 30% !important;
    }

    .logo_footer {
        padding-top: 5%;
        max-width: 30vw;
        min-width: 280px;
    }
    .top_arrow {
        color: black;
        font-size: 50px;
    }
    .top_arrow:hover {
        font-size: 70px;
        color: black;
    }
    .link_menu_footer_container {
    }
    .link_menu_footer {
        border-bottom: solid black 2px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        justify-content: space-around;
        flex-wrap: wrap;

        li {
            padding-bottom: 15px;
            list-style: none;
            text-align: center;
            a {
                font-family: 'Lato Italic';
                font-size: 20px;
                color: black;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
            }
            a:hover {
                font-size: 30px;
            }
        }
    }
}

#socialBar {
    margin-top: 20px;
    width: min-content;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-around;
    right: 10px;
    flex-wrap: wrap;

    :first-child {
        margin-bottom: 5px;
    }
    a {
        // transition: width 2s, transform 2s;
    }
    a :hover {
        width: 53px;
        transition: all 0.3s ease-in;
    }
    img {
        transition: all 0.1s ease-in-out;
        // transition: all 0.3s ease-in-out;
        // -webkit-transition: all 0.3s ease-in-out;
        // -moz-transition: all 0.3s ease-in-out;
        width: 43px;
    }
}

/*Media*/
@media (min-width: 1500px) {
    .perfect_flag {
        .perfect_para {
            padding: 3rem 15% 3rem 10% !important;
        }
        .perfect_header {
            padding: 3rem 10% 3rem 15% !important;
        }
    }
}
